:root {
    --primary-text-color: #212121;
    --acent-color: #2196F3;
    --secondary-texy-color:#757575;
    --primary-fon-color: #ffffff;
    --secondary-fon-col: #F5F4FA;
    --darc-fon-color:#2F303A;
    --adres-color:rgba(255, 255, 255, 0.6);
    --work-fon-color:#F5F5F5;
    --header-border-color:#ECECEC;
    --color-cards-border: #EEEEEE;
    


    --primary-padding-bottom: 10px;
    
    

}
/* Палітра кольорів сайту */
/* Колір header : #FFFFFF; */
/* Колір секції наші переваги, і footer :  #2F303A */
/* Колір секцій наші переваги, чим ми займаємося :  #F5F5F5; */
/* Колір секції Наша команда : #F5F4FA */
/* Акцент: #2196F3; */
/* колір тексту: #2196F3; */
/* колір другорядного тексту: #757575; */


/* ------------index.html------------*/

body {
    font-family: 'Roboto', 'sans-serif';
    color: var(--primary-text-color);
    background-color:var(--primary-fon-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    
}

ul {
    padding: 0;
    margin: 0;
   

}
.section {
    padding-top: 94px;
    padding-bottom:  94px;
}


/* ------------Шапка------------*/
header .auth-nav {
    display: flex;
}

.head-top  {
    background-color: var(--primary-fon-color);
    border-bottom: 1px solid var(--header-border-color);
    
}


.logo {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--primary-text-color); 
    margin-right: 93px;   
}
.logo-web {
    color: var(--acent-color)
}

/* ------------Навігація по сайті------------*/


.main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    color: var(--primary-text-color);
    display: flex;      
}

.nav {
    margin-right: auto;
}

.site-nav .item-nav:not(:last-child) {
    margin-right: 50px;
}

.site-nav .header-link,
.site-nav {
    color: var(--primary-text-color);   
}

.site-nav .header-link:hover,
.site-nav .header-link:focus {
    color: var(--acent-color);
}

.header-link:active {
    color: var(--acent-color);
}
.header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.auth-nav .item-nav + .item-nav {
    margin-left: 50px;
} 
/* ------------Контатки------------*/

.main-nav {
    justify-content: center;
}

.auth-nav .header-link,
.auth-nav  {
    color: var(--secondary-texy-color);
}


.auth-nav .header-link:hover,
.auth-nav .header-link:focus 
{
    color: var(--acent-color);
}

.site-nav .header-link.current {
    color: var(--acent-color);
}

.header-link {
    text-decoration: none;
}
.site-nav,
.auth-nav,
.list-benefits,
.team-list,
.buttons-filter,
.photos-list,
.list-work,
.site-nav-footer
{
    list-style: none;
}
/* ------------Герой------------*/

 .section-hero {
    background-color: var(--darc-fon-color);
    text-align: center; 
    padding-top: 200px;
    padding-bottom:200px;
    
}

.section .section-hero {
    padding: 0;
}

.hero-title {
    color: var(--primary-fon-color);
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    
}


/* ------------Кнопи------------*/

/* ------------Кнопки портфоліо------------*/
.buttons-filter  .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--primary-text-color);
    background-color: var(--secondary-fon-col);
    border: none;
}

.button {
    background-color: var(--secondary-fon-col);
    
}

.button-filter:hover,
.button-filter:focus,
.button-filter:active
 {
    background-color:var(--acent-color);
    color: var(--primary-fon-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
 }
 .button-filter {
    font-family: 'Roboto', 'sans-serif';
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height:1.62;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    max-height: 38px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    
 }
 .button-all {
    width: 73px;
    padding-left: 25px;
    padding-right: 25px;
}
.button-web {
    width: 125px;
}
.button-adds {
    width: 112px;
}
.button-dysain {
    width: 103px;
}
.button-market {
    width: 130px;
    
}

 /* ------------Кнопка секції герой------------*/

.button-style {

    background-color: var(--acent-color);
    color: var(--primary-fon-color);
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: inline-block;
    background: var(--acent-color);
    border-radius: 4px;
    max-width: 216px;
    max-height: 50px;
    padding: 10px 32px;

    
}   
.button-style:hover,
.button-style:focus,
.button-style:active
 {
    background-color: var(--secondary-fon-col);
    color: var(--primary-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/* ------------Наші переваги------------*/



.list-benefits {
    display: flex;    
}
.list-item {
    width: 270px;
}

.list-benefits .list-item:not(:last-child) {
     margin-right: 30px;

}

.visually-hidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list-title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom:var(--primary-padding-bottom) ;
}
.paragraph {
    
    color: var(--secondary-texy-color);
}

/* ------------Чим ми займаємося------------*/

.nopadding {
    padding-top: 0px;
}

.section-work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    
}

.section-work-title {
    margin-bottom: 50px;
    text-align: center;
}
.list-work { 
    display:flex;    
    
}
.list-work .item-do {
    margin-right: 30px;
}
.list-work .item-do:last-child {
    margin-right: 0;
}

.img-item,
.team-picks {
    display: block;
    width: 100%;
    height: auto;
}

/* ------------Наша команда------------*/

.section-team {
    background-color: var(--secondary-fon-col);        
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}

.paragraph-team {
    font-size: 16px;
    text-align: center;
    color: var(--secondary-texy-color); 
    margin-bottom: 30px;
}
.team-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    text-align: center;
    margin-bottom:var(--primary-padding-bottom) ;    
}
.team {
    display: flex;
    justify-content: center;
}
.team .team-list:not(:last-child) {
    margin-right: 30px;
}
.team-picks {
    margin-bottom: 30px;
}
.team-list {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
background-color: var(--primary-fon-color);

}

/* ------------Підвал------------*/

.footer {
    background-color: var(--darc-fon-color); 
    padding-top: 60px;
    padding-bottom: 60px; 
}

.footer-item > .logo-footer {
    margin-bottom: 20px;
    
}


.logo-footer {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--primary-fon-color);
    text-decoration: none;
    display: inline-block;
    
}

.site-nav-footer > li:not(:last-child) {
    margin-bottom: 9px;
    
}


.address {
    font-style: normal;
}
.address-item {
    color: var(--primary-fon-color);
    text-decoration: none;
}

.address-items {
    color: var(--adres-color); 
    text-decoration: none;   
}
.address-items:hover,
.address-items:focus {
    color: var(--acent-color);
}

/* --------Портфоліо--------- */
.pic-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    
}
.pic-paragraph {
    font-size: 16px;
    line-height: 1.87;
    color: var(--secondary-texy-color);
}


/* --------Універсальні--------- */

.container {
    width: 1200px;
    padding-left:  15px;
    padding-right:  15px;
    margin: 0 auto;
    
}


.port {
    border: 1px solid var(--header-border-color);
    border-top: none;
    border-left: none;
    border-right: none;
}
.pic-list {
    display: flex;
    flex-wrap: wrap;       
}

.photos-list {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    
}

.photos-list:nth-child(3n) {
    margin-right: 0;
    
}
.photos-list:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.buttons-filters {
    display: flex;
    justify-content:center;
    margin-bottom: 50px;
   
}
.buttons-filter:not(:first-child) {
    margin-left: 8px;
}

.portfolio-list {
    justify-content: center;
}


.cards {
    border: 1px solid var(--color-cards-border);
    border-top: none;
    width: 370px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

.cards> .pic-title {  
    margin-bottom: 4px;
}
